@font-face{
    font-family: 'HeadingWest';
    src:url('../fonts/HeadingWest.otf')
}
body{
    overflow-x: hidden;
    background-color: ;
}
* {
    font-family: 'Inter', Helvetic, sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#2e3b4b;
    word-wrap: wrap;
}
*    div{
    font-size: 1.1rem;
    line-height: 2.05rem;
    /* font-weight: 400; */
}
* > h1,h2,h3,h4,h5,h6{
    color:#2e3b4b;
    letter-spacing: 1px;
    font-weight: 400;
    padding:.3rem 0;
}

* > h2,h1{
    font-weight: 700;
}
* > h1{
    letter-spacing: 2px;
    font-size: 2.5rem;
    
}
*> a{
    color:#747e96;
    /* font-weight:500; */
     /* color:black; */
    text-decoration: none;

}
*> a:hover{
    color:#7fb0c0;
    }

.font-100{font-size: 1rem}